[Unit]
Description=This is a simple example of linux service in golang
After=network.target

[Service]
Type=simple
ExecStart=/opt/simple-service/simple-service
User=simple-service-user

[Install]
WantedBy=multi-user.target